@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.heroPosition {
  top: calc(50vh - 183px);
}

.heroHeight {
  height: calc(100vh - 132px);
}
.w-96 {
  width: 96%;
}

.max-w-projects {
  max-width: 1280px;
}



@media (min-width: 640px) {
  .heroHeight {
    height: calc(100vh - 148px);
  }
  /* .heroPosition {
    top: calc(50vh - 246px);
  } */
}
