@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.heroHeight {
  height: calc(100vh - 74px);
}
.w-96 {
  width: 96%;
}

@media (min-width: 640px) {
  .heroHeight {
    height: calc(100vh - 94px);
  }
}

@media (min-width: 768px) {
  .heroHeight {
    height: calc(100vh - 90px);
  }
}
